<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ief.storeproject.videoplay.mapping.VideoGroupMapper" >
  <resultMap id="BaseResultMap" type="com.ief.storeproject.videoplay.mapping.entity.VideoGroup" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="group_name" property="groupName" jdbcType="VARCHAR" />
    <result column="group_detail" property="groupDetail" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, group_name, group_detail
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from video_group
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from video_group
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ief.storeproject.videoplay.mapping.entity.VideoGroup" >
    insert into video_group (id, group_name, group_detail
      )
    values (#{id,jdbcType=INTEGER}, #{groupName,jdbcType=VARCHAR}, #{groupDetail,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ief.storeproject.videoplay.mapping.entity.VideoGroup" >
    insert into video_group
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="groupName != null" >
        group_name,
      </if>
      <if test="groupDetail != null" >
        group_detail,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="groupName != null" >
        #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="groupDetail != null" >
        #{groupDetail,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ief.storeproject.videoplay.mapping.entity.VideoGroup" >
    update video_group
    <set >
      <if test="groupName != null" >
        group_name = #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="groupDetail != null" >
        group_detail = #{groupDetail,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ief.storeproject.videoplay.mapping.entity.VideoGroup" >
    update video_group
    set group_name = #{groupName,jdbcType=VARCHAR},
      group_detail = #{groupDetail,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByExample" parameterType="com.ief.storeproject.videoplay.mapping.entity.VideoGroup" resultMap="BaseResultMap">
      select <include refid="Base_Column_List"/>
      from video_group
      <where>
        <if test="groupName != null" >
          and group_name LIKE concat(concat('%',#{groupName,jdbcType=VARCHAR}),'%')
        </if>
      </where>
  </select>
</mapper>