<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>观看历史</title>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" th:href="@{/css/videoGroup/listTable.css}" href="/css/videoGroup/listTable.css"/>
    <link rel="stylesheet" href="/css/common.css" th:href="@{/css/common.css}"/>
</head>
<body>
<table class="list_table">
    <thead>
    <tr>
        <td>序号</td>
        <td>用户名称</td>
        <td>视频名称</td>
        <td>视频时长(分)</td>
        <td>观看时长(分)</td>
        <td>上次观看时间</td>
    </tr>
    </thead>
    <tbody th:each="historyVideo,historySta : ${historyList}">
    <tr th:attr="id=${historyVideo.id}">
        <td th:text="${historySta.index+1}">1</td>
        <td th:text="${historyVideo.userName}">用户名称</td>
        <td th:text="${historyVideo.videoName}">视频名称</td>
        <td th:text="${historyVideo.videoTime}">视频时长</td>
        <td th:text="${historyVideo.totalTime}">观看总时长(分)</td>
        <td th:text="${#dates.format(historyVideo.startTime,'yyyy-MM-dd HH:mm:ss')}">上次观看时间</td>
    </tr>
    </tbody>
</table>
</body>
</html>