html,body {
    width:100%;
    height:auto;
    overflow-y:auto;
    overflow-x: hidden;
    margin:0;
    padding:0;
    font-size: 18px;
}

/*.video-js .vjs-time-control{display:block;}*/
/*.video-js .vjs-remaining-time{display: none;}*/
